body{
  background: #7851A9;
  display:block;
  color: black;
  font-size: 2em;
  font-family: 'Indie Flower';
  justify-content: center;
  text-align: center;
}

h1 {
  color:black;
  text-align: center;
  display: block;
}

#quiz {
  text-align: left;
  color:black;
  font-size: smaller;
  font-weight: bold;
  padding-left: 10%;
}